
{% macro flashes()  %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <h4 class="alert-heading">Hey!</h4>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </ul>
    {% endif %}
{% endwith %}
{% endmacro %}
