{% extends "layout.html" %}

{% block content %}
<div class="container mt-5" style="padding-top: 80px; padding-bottom: 120px;">
    <div id="usuario_editar" class="mx-auto" style="max-width: 600px;">  <!-- Limita ancho y centra -->

        <h2 class="text-center mb-4">Editar Usuario</h2>
        <form id="formEditarUsuario" action="{{ url_for('editar_usuario_post', nombre_usuario=usuario.nombre) }}" method="POST">
            <input type="hidden" name="nombre_original" value="{{ usuario.nombre }}">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" value="{{ usuario.nombre }}" readonly>
            </div>

            <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" id="apellidos" name="apellidos" class="form-control" value="{{ usuario.apellidos }}">
            </div>

            <div class="mb-3">
                <label for="correo" class="form-label">Correo electrónico</label>
                <input type="email" id="correo" name="correo" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="rol" class="form-label">Rol</label>
                <input type="text" id="rol" name="rol" class="form-control" value="{{ usuario.rol }}" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Nueva Contraseña </label>
                <input type="text" id="password" name="password" class="form-control" value="(opcional, si vacío se mantiene original)">
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="{{ url_for('usuarios') }}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
